.section {
  padding: 50px 0;
}

.container {
  position: relative;
  padding: 0 15px;
  min-width: var(--min-width);
  max-width: var(--max-width);
  margin: {
    right: auto;
    left: auto;
  }

  &-fluid {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
}
